body {
    font-family: Arial, Helvetica, sans-serif;
    background-image:linear-gradient(to right, rgb(78, 78, 150), rgb(94, 230, 230), rgb(208, 227, 230));
}

.principal {
    position:absolute;
    background-color: rgb(161, 156, 156);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3em;
    color:white;
    font-size: 25px;
    border-radius: 25px;
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0.4);
}

input {
    padding:12px;
    border-radius: 5px;
}

button {
    padding: 1.5em;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: rgb(2, 69, 78);
    border: none;
    border-radius: 25px;
}

button:hover {
    background: rgb(4, 175, 231);
    cursor:pointer;
}